<button (click)="Refresh()">Refresh</button>

<div class="app">
  <div class="tabs">
    <div class="tab">
      <div class="title">Single choise</div>
      <app-dropdown [items]="Items" [(model)]="Selected" [config]="{ groupBy: Group, searchBy: Filter, templateBy: Template }">
        <ng-template templateName="placeholder">Выберите элементfffffffffffffffffffffffffffffaaaaaaaaaaaaaaaaaaaaaaaaaaaaadddddddddddddddddddddddddfffffffffffffffffffffff</ng-template>
        <ng-template templateName="super" let-item>{{ item.Title }}</ng-template>
      </app-dropdown>
    </div>
    <div class="tab">
      <div class="title">Multiple choise</div>
      <app-dropdown [items]="Items" [(model)]="SelectedItems" [multiple]="true" [config]="{ multipleLimit: 1, searchBy: Filter }">
        <ng-template templateName="placeholder">Выберите 1 элемент</ng-template>
        <ng-template templateName="option" let-item>{{ item.Title }}</ng-template>
      </app-dropdown>
    </div>
  </div>
</div>