<button (click)="Refresh()">Refresh</button>

<div class="app">
  <div class="tabs">
    <div class="tab">
      <div class="title">Single choise</div>
      <ng-dropdown [items]="Items" [(model)]="Selected" [config]="{ groupBy: Group, searchBy: Filter, templateBy: Template }">
        <ng-template templateName="super" let-item>{{ item.Title }}</ng-template>
      </ng-dropdown>
    </div>
    <div class="tab">
      <div class="title">Multiple choise</div>
      <ng-dropdown [items]="Items" [(model)]="SelectedItems" [multiple]="true" [config]="{ multipleLimit: 5, searchBy: Filter, badgeLimit: 3 }">
        <ng-template templateName="placeholder">Выберите 5 элементов</ng-template>
        <ng-template templateName="option" let-item>{{ item.Title }}</ng-template>
      </ng-dropdown>
    </div>
  </div>
</div>