<ng-template #defaultOption let-item>{{ item }}</ng-template>
<ng-template #defaultTitle let-selected>{{ selected || config.placeholder }}</ng-template>

<div class="dropdown" (clickOutside)="Close($event)">
  <div class="selected_item" *ngIf="!multiple">
    {{ Selected?.data || config.placeholder }}
  </div>
  <div class="selected_items" *ngIf="multiple">
    <div class="placeholder" *ngIf="!SelectedItems.length">{{ config.placeholder }}</div>
    <div class="badge" *ngFor="let item of SelectedItems">{{ item.data }}</div>
  </div>
  <br>
  <div class="options">
    <div class="group" *ngFor="let group of Groups | iterableMap">
      <div class="group_name" *ngIf="group.key">{{ group.key }}</div>
      <div class="option" *ngFor="let item of group.value" (click)="Select(item.key)">
        {{ item.data }}
      </div>
    </div>
  </div>
</div>